html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, img, ins, kbd, q, s, samp, small, strike, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}

body {
	line-height: 1;
	background: linear-gradient(darkred, #000000);
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}



.borderdiv {
	margin-left: auto;
	margin-top: 10%;
	margin-bottom: 10%;
	margin-right: auto;
	width: 90%;
	border-color: black;
	border-style: solid;
	border-width: medium;
	background-color: #ffffff;

}

#red {
	color: #ff0000;
}

h1 {
	font-size: xx-large;
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 20px;
}

h2 {
	font-size: x-large;
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 20px;

}

h6 {
	font-size: small;
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 20px;
	opacity: .50;

}

#clifff {
	float:top;
	width: 80%;
	margin-left: 125px;

}

.firsttext {
	font-family: "Times New Roman", Times, serif;
	font-size: larger;
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 20px;
	line-height: 160%;
}

.secondtext {
	font-family: "Times New Roman", Times, serif;
	font-size: larger;
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 20px;
	line-height: 160%;
}

#comparison {
	width: 50%;
	float:right;


}

#xerxes {
	padding-right:5px;
	width: 50%;
	height: 50%;
}

.tree {
	margin-left: 50px;
	margin-right: 50px;
}

#bigt {
	font-size: 75px;
	color:white;
	position:absolute;
	background-color: transparent;
	z-index: 3;
	padding-left: 90px;
	padding-top: 30px;
}

#firsttext {
	font-family: "Times New Roman", Times, serif;
	font-size: larger;
	line-height: 160%;

}

#smalltext {
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 20px;
	font-size: small;
	opacity: 50;
	line-height: 160%;
}